:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-text: #283136;
	--basic-pink: #fb565a;
	--basic-pink-hover: #e74246;
	--basic-pink-active: #d7373b;
	--basic-yellow: #efc849;
	--basic-yellow-hover: #eab534;
	--basic-yellow-active: #e5a722;
	--basic-green: #00ca74;
	--basic-green-hover: #00bc6c;
	--basic-green-active: #00aa62;
	--basic-gray: #eeeeee;
	--gray-icon: #e1e1e1;
	--gray-page-hover: #dfdfdf;
	--gray-page-active: #d5d5d5;
	--gray-filter: #4d4d4d;
	--gray-sort: #a6a6a6;
	--gray-sort-active: #231f20;
	--gray-footer: #444444;
	--gray-catalog: #666666;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto.woff2") format("woff2"),
       url("../fonts/roboto/roboto.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/robotomedium.woff2") format("woff2"),
       url("../fonts/roboto/robotomedium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/robotobold.woff2") format("woff2"),
       url("../fonts/roboto/robotobold.woff") format("woff");
  font-weight: 700;
}

body {
  min-width: 1440px;
  width: 1440px;
	margin: 0 auto;
 	box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body h1 {
	text-align: center;
	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.block-hide {
	display: none;
}

/*HEADER*/

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--basic-gray);
	padding: 0 140px; 
	margin-bottom: 80px;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.haeder_name {
	display: flex;
	width: 100%;
	margin-top: 87px 0 0 0;
	justify-content: center;
}

.logo {
	margin-right: 202px;
}
.logo:active {
	opacity: 0.3;
}

/*SLIDERS*/

.slider__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
} 

.slider__item {
	width: 100%;
	flex-shrink: 0;
}

.slide {
	display: flex;
}

.slide__content {
width: 400px;
}

.slide__title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	margin-top: 0;
	margin-bottom: 25px;
}

.slide__text {
	margin-top: 0;
	margin-bottom: 38px;
}

.slide__button {
	width: 240px;
	padding: 16px 0;
	border: 0;
	background-color: var(--basic-pink);
	font-family: inherit;
	border-radius: 3px;
}

.slide__button:hover {
	background-color: var(--basic-pink-hover);
}

.slide__button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slide__button span {
	line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
}

.slide__button:active span {
	opacity: 0.3;
}


/*MAIN MENU*/

main {
	padding: 0 140px;
}

.main-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.main-menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.main-menu__item {
	margin-right: 44px;
}

.main-menu__item_cart {
	margin-right: 0;
	margin-left: auto;
}

.main-menu a {
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-black); 
	text-transform: uppercase;
	padding-bottom: 13px;
}

.main-menu a:hover {
	color: var(--basic-pink);
}

.main-menu a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.main-menu a.active {
	border-bottom: 2px solid #FB565A;
}


/*FEATURES*/

.features {
	margin-bottom: 80px;
}

.features__image {
	width: 300px;
	height: 146px;
}

.features__image_pink {
	background-color: var(--basic-pink);
}

.features__image_green {
	background-color: var(--basic-green);
}

.features__image_yellow {
	background-color: var(--basic-yellow);
}

.features h3 {
	font-size: 24px;
	font-weight: 700;
	color: (--basic-black);
}

.features__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.features__item {
	width: 300px;
	margin-right: 100px;
}

.features__item:nth-child(3) {
	margin-right: 0;
}

.features__button {
	width: 160px;
	padding: 16px 0;
	border: 0;
	border-radius: 3px;
	font-family: inherit;
}

.features__button_pink {
	background-color: var(--basic-pink);
}

.features__button_pink:hover {
	background-color: var(--basic-pink-hover);
}

.features__button_pink:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features__button_green {
	background-color: var(--basic-green);
}

.features__button_green:hover {
	background-color: var(--basic-green-hover);
}

.features__button_green:active {
	background-color: var(--basic-green-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features__button_yellow {
	background-color: var(--basic-yellow);
}

.features__button_yellow:hover {
	background-color: var(--basic-yellow-hover);
}

.features__button_yellow:active {
	background-color: var(--basic-yellow-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features__button span {
	line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
}

.features__button:active span {
	opacity: 0.3;
}

/*ABOUT-US*/

.about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 73px;
	border-top: 2px solid #EEEEEE;
	}

.about-us__content {
	width: 700px;
}

.about-us__list {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 32px;
}

.about-us h1 {
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
	text-align: left;
}

.about-us h4 {
	text-transform: uppercase;
	font-weight: 700;
} 

.statistic {
	width: 360px;
	padding-bottom: 75px;
}

.statistic h4 {
	color: var(--basic-black);
	text-align: center;
}

.statistic__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.statistic li {
	line-height: 18px;
	display: flex;
	flex-direction: column;
	width: 33,33%;
}

.statistic span {
	position: relative;
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

.statistic sup {
	position: absolute;
	top: 5px;
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	color: var(--basic-black);
}

.clients {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 46px 0 44px;
	list-style: none;
	width: 100%;
	align-items: center;
	color: var(--basic-black);
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
}

.clients__item {
	width: 25%;
	text-align: center;
}

.clients__item a {
	opacity: 0.2;
}

.clients__item a:hover {
	opacity: 1;
}

.clients__item a:active {
	opacity: 0.1;
}

/*CONTACT*/

.contact {
	width: 100%;
}

.contact__map {
	width: 100%;
	height: 416px;
	background-image: url("../img/map.jpg");
}


.contact__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.contact p {
	line-height: 18px;
	color: var(--gray-catalog);
}

.contact a {
	line-height: 18px;
	color: var(--gray-catalog);
	list-style: none;
}

 .contact button {
	width: 219px;
	height: 50px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-pink);
	text-align: center;
	border: 0;
	border-radius: 3px;
}

.contact button:hover {
	background-color: var(--basic-pink-hover);
}

.contact button:active {
	background-color: var(--basic-pink-active);
}

/*MODAL*/

.modal {
	width: 960px;
	padding: 63px 100px 84px;
	box-sizing: border-box;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal__header {
	display: flex;
	justify-content: space-between;
}

.modal__title {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
}

.modal__close {
	border: 0;
	padding: 0;
	opacity: 0.3;
}

.modal__close:hover {
	opacity: 1;
}

.modal__close:active {
	opacity: 0.1;
}

.contact-us__user {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-us__item {
	display: flex;
  flex-direction: column;
}

.contact-us label {
	font-family: inherit;
	font-weight: 700;
	line-height: 18px;
	color: var(--basic-black);
}

.contact-us input {
	box-sizing: border-box;
	border: 2px solid #D7DCDE;
  border-radius: 3px;
  padding: 15px; 
  line-height: 18px;
  color: var(--gray-footer);
  opacity: 0.5;
  width: 360px;
  font-family: inherit;
}

.contact-us input:hover {
	border-color: #B4B9BB;
}

.contact-us input:focus {
	border-color: var(--basic-black);
	opacity: 1;
	outline: none;
}

.contact-us textarea:invalid {
	border-color: var(--basic-pink-hover);
	color: var(--basic-pink-hover);
	opacity: 1;
}

.contact-us textarea {
	box-sizing: border-box;
	border: 2px solid #D7DCDE;
  border-radius: 3px;
  padding: 15px; 
  line-height: 18px;
  color: var(--gray-footer);
  opacity: 0.5;
  width: 760px;
  height: 118px;
  resize: none;
  font-family: inherit;
}

.contact-us textarea:hover {
	border-color: #B4B9BB;
}

.contact-us textarea:focus {
	border-color: var(--basic-black);
	opacity: 1;
	outline: none;
}

.contact-us button {
	border: 0;
	padding: 16px 0;
	width: 260px;
	background-color: var(--basic-pink);
	color: var(--basic-white);
	font-family: inherit;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 3px;
}

.contact-us button:hover {
	background-color: var(--basic-pink-hover);
	cursor: pointer;
}

.contact-us button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*FOOTER*/

.footer {
	display: flex;
	align-items: center;
	margin: 68px 0;
	padding: 0 140px;
}

.footer h2 {
	line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.footer p {
	line-height: 22px;
	color: var(--gray-footer);
	margin: 0;
}

.footer__text {
 	display: flex;
  flex-direction: column;
}

.social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 139px;
}

.social__button {
	width: 81px;
	height: 81px;
	background-color: var(--gray-icon);
	border-radius: 50%;
	display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

.social__button:hover {
	background-color: var(--basic-pink-hover);
}

.social__button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__button:active svg {
	opacity: 0.3;
}

/*CATALOG FILTERS*/

.page-catalog {
	display: flex;
	flex-wrap: wrap;
}

.filters {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 260px;
	margin-right: 140px;
}


.filters__grid {
	border: 0;
	margin: 0 0 46px 0;
	padding: 0;
}

.filters__features {
	border: 0;
	margin: 0 0 50px 0;
	padding: 0;
}

.filters legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.range {
	border: 0;
	margin: 0 0 54px 0;
	padding: 0;
}

.range__text {
 	line-height: 22px;
	text-transform: uppercase;
	
 }

.filters label {
	line-height: 19px;
}

.filters input:disabled + label {
	opacity: 0.3;
} 


.filters input {
	color: var(--gray-filter);
}

.filters input:hover {
	color: var(--gray-filter);
}

.filters input:invalid {
	color: var(--gray-filter);
	opacity: 0.1;
}

.filters-button {
	font-family: inherit;
	width: 260px;
	border-radius: 3px;
	background-color: var(--basic-gray); 
	border: 0;
	padding: 16px 0;
}

.filters-button:hover {
	background-color: var(--gray-page-hover);
}

.filters-button:active {
	background-color: var(--gray-page-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filters-button span {
	font-weight: 500;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filters-button:active span {
	opacity: 0.3;
}


/*PAGE CONTENT*/

.page-content {
	width: 760px;
}


/*SORT*/

.sort{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
}

.sort h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	margin: 0;
}

.sort ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0; 
}

.sort li {
	margin-right: 25px;
}

.sort li:last-child {
	margin-right: 0;
}

.sort__button {
	line-height: 18px;
	font-size: 14px;
	color: var(--basic-black);
	border: 0;
	padding: 0;
	opacity: 0.3;
	font-family: inherit;
	text-transform: uppercase;
}

.sort__button_active {
	opacity: 1;
}

.sort__button:hover {
	opacity: 0.6;
}

.sort__button:active {
	opacity: 1;
}

.sort__down,
.sort__up {
	border: 0;
	padding: 0;
}

.sort__down {
/*треугольник*/
	color: var(--gray-sort);
}

.sort__up {
/*треугольник*/
	color: var(--gray-sort);
}

.sort__down:hover,
.sort__up:hover {
	color: var(--gray-sort);	
}

.sort__down:active {
	color: var(--gray-sort-active);	
}

.sort__up:active {
	color: var(--gray-sort-active);	
}

/*CATALOG CARDS*/

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
	width: 360px;
}

.catalog__info {
	display: none;
	background-color: var(--basic-gray);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 26px 50px 44px;
}

.catalog__info a {
	list-style: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.catalog__info a:hover {
	color: var(--basic-pink);
}

.catalog__info a:active {
	opacity: 0.3;
}


.catalog__info p {
	line-height: 18px;
	color: var(--gray-catalog);
	text-align: center;
}

.catalog__info button {
	font-family: inherit;
	border-radius: 3px;
	width: 200px;
	padding: 16px 0;
	background-color: var(--basic-pink);
	border: 0;
	color: var(--basic-white);
}

.catalog__info button:hover {
	background-color: var(--basic-pink-hover);
}

.catalog__info button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog__info span {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.catalog__item:hover .catalog__info {
	display: flex;
}

/*PAGINATION*/

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
}

.pagination-list li {
	margin-right: 11px;
}

.pagination-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--basic-gray);
	border-radius: 3px;
}

.pagination-list .pagination-list__next {
	width: 260px;
}

.pagination-list a:hover {
	background-color: var(--gray-page-hover);
}

.pagination-list a:active {
	background-color: var(--gray-page-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-list .pagination-list__active {
	background-color: var(--basic-white);
	border: 3px solid #DBDBDB;
	box-sizing: border-box;
}

.pagination-list a span {
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.pagination-list a:active span {
	opacity: 0.3;
}
















 































