:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-text: #283136;
	--basic-pink: #fb565a;
	--basic-pink-hover: #e74246;
	--basic-pink-active: #d7373b;
	--basic-yellow: #efc849;
	--basic-yellow-hover: #eab534;
	--basic-yellow-active: #e5a722;
	--basic-green: #00ca74;
	--basic-green-hover: #00bc6c;
	--basic-green-active: #00aa62;
	--basic-gray: #eeeeee;
	--gray-icon: #e1e1e1;
	--gray-page-hover: #dfdfdf;
	--gray-page: #dbdbdb;
	--gray-page-active: #d5d5d5;
	--gray-filter: #4d4d4d;
	--gray-filter-normal: #b8b8b8;
	--gray-filter-disabled: #bfc1c3;
	--gray-sort: #a6a6a6;
	--gray-sort-active: #231f20;
	--gray-sort-normal: #ededed;
	--gray-footer: #444444;
	--gray-catalog: #666666;
	--gray-slider-active: #c1c1c1;
	--gray-scale: #d7dcdf;
	--range-bar: #00ca74;
	--range-button: #ababab;
	--gray-input: #d7dcde;
	--gray-input-hover: #b4b9bb;

}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto.woff2") format("woff2"),
       url("../fonts/roboto/roboto.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/robotomedium.woff2") format("woff2"),
       url("../fonts/roboto/robotomedium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/robotobold.woff2") format("woff2"),
       url("../fonts/roboto/robotobold.woff") format("woff");
  font-weight: 700;
}

body {
  width: 100%;
  max-width: 1440px;
	margin: 0 auto;
 	font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}


/*------------HEADER-----------------*/

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--basic-gray);
	margin-bottom: 80px;
	padding-top: 49px;
}

.header_catalog {
	margin-bottom: 55px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.header__title {
	width: 100%;
	text-align: center;
	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
	margin: 78px 0 0 0;
	padding-bottom: 107px;
}

.logo {
	margin-right: 202px;
	flex-shrink: 0;
	line-height: 0;
}
.logo:active {
	opacity: 0.3;
}

/*--------------MAIN MENU---------*/

.main-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 11px;
}

.main-menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	margin-top: 8px;
}

.main-menu__item {
	margin-right: 44px;
}

.main-menu__item_cart {
	margin-right: 0;
	margin-left: auto;
}

.main-menu__link {
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.main-menu__link:hover {
	color: var(--basic-pink);
}

.main-menu__link:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.main-menu__link_active {
	border-bottom: 2px solid var(--basic-pink);
	padding-bottom: 18px;
}

.icon-cart {
	margin-right: 22px;
}

/*---------------SLIDERS---------------*/

.slider {
	position: relative;
}

.slider__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
} 

.slider__item {
	width: 100%;
	flex-shrink: 0;
	display: none;
}

.slider__item.m-current {
	display: block;
}

.slide {
	display: flex;
	position: relative;
	width: 100%;
}

.slide__content {
	width: 550px;
	min-height: 431px;
	padding-right: 610px;
}

.slide__title {
	font-weight: 500;
	font-size: 55px;
	line-height: 56px;
	color: var(--basic-black);
	margin-top: 77px;
	margin-bottom: 25px;
}

.slide__text {
	margin-top: 0;
	margin-bottom: 39px;
}

.slide__button {
	width: 240px;
	padding: 16px 0;
	border: 0;
	background-color: var(--basic-pink);
	font-family: inherit;
	border-radius: 3px;
	cursor: pointer;
}

.slide__button:hover {
	background-color: var(--basic-pink-hover);
}

.slide__button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slide__button span {
	line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
}

.slide__button:active span {
	opacity: 0.3;
}

.slide__image {
	width: 760px;
	height: 431px;
	position: absolute;
	right: 3px;
}

.slider__controls {
	position: absolute;
	bottom: 96px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.slider__button {
	border: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: var(--basic-white);
	margin-right: 17px;
	cursor: pointer;
}

.slider__button:last-child {
	margin-right: 0;
}

.slider__button.m-current {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__button.m-current:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid var(--gray-slider-active);
	box-sizing: border-box;
}


/*-----------------FEATURES-------------*/

.features {
	margin-bottom: 83px;
}

.features__image {
	width: 300px;
	height: 146px;
	margin-bottom: 28px;
}

.features__image_pink {
	background-color: var(--basic-pink);
}

.features__image_green {
	background-color: var(--basic-green);
}

.features__image_yellow {
	background-color: var(--basic-yellow);
}

.features__title {
	font-size: 24px;
	font-weight: 700;
	color: var(--basic-black);
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 19px;
}

.features__text {
	margin: 0 0 32px 0;
	width: 280px;
}

.features__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.features__item {
	width: 300px;
	margin-right: 100px;
}

.features__item:nth-child(3) {
	margin-right: 0;
}

.features__button {
	width: 160px;
	padding: 16px 0;
	border: 0;
	border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
}

.features__button_pink {
	background-color: var(--basic-pink);
}

.features__button_pink:hover {
	background-color: var(--basic-pink-hover);
}

.features__button_pink:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features__button_green {
	background-color: var(--basic-green);
}

.features__button_green:hover {
	background-color: var(--basic-green-hover);
}

.features__button_green:active {
	background-color: var(--basic-green-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features__button_yellow {
	background-color: var(--basic-yellow);
}

.features__button_yellow:hover {
	background-color: var(--basic-yellow-hover);
}

.features__button_yellow:active {
	background-color: var(--basic-yellow-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features__button span {
	line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
}

.features__button:active span {
	opacity: 0.3;
}

/*------------------ABOUT-US---------------*/

.about-us {
	margin-bottom: 79px;
}

.about-us__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
	border-top: 2px solid var(--basic-gray);
}

.about-us__content {
	width: 700px;
}

.about-us__title {
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
	text-align: left;
	margin: 73px 0 30px 0;
}

.about-us__text {
	margin: 0 0 43px 0;
  width: 650px;
} 

.about-us__subtitle {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 23px 0;
} 

.about-us__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us__item {
	position: relative;
	margin-bottom: 25px;
  padding-left: 36px;
}

.about-us__item:nth-child(3) {
	margin-bottom: 0;
}

.about-us__item:before {
	content: "";
	position: absolute;
	left: 0;
  top: 11px;
	border-bottom: 2px solid var(--basic-pink);
	width: 25px;
}

.statistic {
	width: 360px;
	padding-bottom: 75px;
	margin-top: 38px;
}

.statistic__logo {
	margin-bottom: 30px;
}

.statistic__title {
	font-weight: 700;
	font-size: inherit;
	line-height: 24px;
	color: var(--basic-black);
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 31px 0;
}

.statistic__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.statistic__item {
	line-height: 18px;
	display: flex;
	flex-direction: column;
	width: 33.33%;
}

.statistic__count {
	position: relative;
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
	margin-bottom: 11px
}

.statistic sup {
	position: absolute;
	top: 5px;
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	color: var(--basic-black);
}

/*----------------CLIENTS----------------*/

.clients {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 46px 0 38px;
	list-style: none;
	width: 100%;
	align-items: center;
	color: var(--basic-black);
	border-top: 2px solid var(--basic-gray);
	border-bottom: 2px solid var(--basic-gray);
}

.clients__item {
	width: 25%;
	display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
	position: relative;
}

.clients__link {
	opacity: 0.2;
}

.clients__link:hover {
	opacity: 1;
}

.clients__link:active {
	opacity: 0.1;
}

.clients__item:after {
	content: "";
	position: absolute;
	right: 10px;
	width: 2px;
	height: 52px;
	background-color: var(--basic-gray);
}

.clients__item:last-child:after {
	display: none;
}

/*------------------CONTACT--------------*/

.contact {
	width: 100%;
	position: relative;
}

.contact:before {
	content: "";
	position: absolute;
	top: 86px;
	right: 387px;
	width: 231px;
	height: 190px;
	background-image: url("../img/map-marker.png"); 
}

.contact.map-show:before {
	display: none;
}

.contact__map {
	width: 100%;
	height: 416px;
}

.contact.map-show .contact__img {
	display: none;
}

.contact-info {
	width: 320px;
	background-color: var(--basic-white);
	position: absolute;
	top: 54px;
  left: 140px;
  padding: 50px 50px 47px 50px;
  box-sizing: border-box;
}

.contact-info__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	margin: 0 0 22px 0;
}

.contact-info__text {
	line-height: 18px;
	color: var(--gray-catalog);
	margin: 0 0 16px 0;
}

.contact-info__phone {
	line-height: 18px;
	color: var(--gray-catalog);
	list-style: none;
	margin-bottom: 37px;
 	display: inline-block;
 	vertical-align: center;
}

 .contact-info__button {
	width: 220px;
	height: 50px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-pink);
	text-align: center;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.contact-info__button:hover {
	background-color: var(--basic-pink-hover);
}

.contact-info__button:active {
	background-color: var(--basic-pink-active);
}

/*-----------------MODAL------------------*/


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
}

.modal.md-show {
 	visibility: visible;
}

.modal.md-error .modal__content {
 	animation: error 2s;
}

.modal__content {
	width: 960px;
	padding: 63px 100px 84px;
	box-sizing: border-box;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
	background-color: var(--basic-white);
	transform: scale(0.5);
  opacity: 0;
  transition: all 0.7s;
  visibility: hidden;
}

.modal.md-show .modal__content {
	transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal__header {
	display: flex;
	justify-content: space-between;
}

.modal__title {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
	padding: 0;
  margin: 0;
}

.modal__close {
	border: 0;
	padding: 0;
	opacity: 0.3;
	cursor: pointer;
	position: absolute;
  content: "";
  right: 90px;
  top: 78px;
  background-color: transparent;
  line-height: 0;
}

.modal__close:hover {
	opacity: 1;
}

.modal__close:active {
	opacity: 0.1;
}

@keyframes error {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.mailto__user {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.mailto__item {
	display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 1px;
}

.mailto__label {
	font-family: inherit;
	font-weight: 700;
	line-height: 18px;
	color: var(--basic-black);
	margin-top: 37px;
  margin-bottom: 8px;
}

.mailto__input {
	box-sizing: border-box;
	border: 2px solid var(--gray-input);
  border-radius: 3px;
  padding: 15px; 
  line-height: 18px;
  color: var(--gray-footer);
  opacity: 0.5;
  width: 360px;
  font-family: inherit;
  margin-bottom: -5px;
}

.mailto__input:hover {
	border-color: var(--gray-input-hover);
}

.mailto__input:focus {
	border-color: var(--basic-black);
	opacity: 1;
	outline: none;
}

.mailto__textarea:invalid {
	border-color: var(--basic-pink-hover);
	color: var(--basic-pink-hover);
	opacity: 1;
}

.mailto__textarea {
	box-sizing: border-box;
	border: 2px solid var(--gray-input);
  border-radius: 3px;
  padding: 15px; 
  line-height: 18px;
  color: var(--gray-footer);
  opacity: 0.5;
  width: 760px;
  height: 118px;
  resize: none;
  font-family: inherit;
  margin-bottom: 47px;
}

.mailto__textarea:hover {
	border-color: var(--gray-input-hover);
}

.mailto__textarea:focus {
	border-color: var(--basic-black);
	opacity: 1;
	outline: none;
}

.mailto__button {
	border: 0;
	width: 260px;
	padding: 16px 0;
	background-color: var(--basic-pink);
	border-radius: 3px;
}

.mailto__button:hover {
	background-color: var(--basic-pink-hover);
	cursor: pointer;
}

.mailto__button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.mailto__button span {
	color: var(--basic-white);
	font-family: inherit;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 3px;
}

.mailto__button:active span {
	opacity: 0.3;
}

/*------------------FOOTER---------------*/

.footer {
	margin: 68px 0;
}

.footer__wrapper {
	display: flex;
	align-items: center;
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.footer__title {
	line-height: 36px;
	font-weight: bold;
  font-size: 36px;
	color: var(--basic-black);
  margin: 0 0 10px 0;
}

.footer__text {
	line-height: 22px;
	color: var(--gray-footer);
	margin: 0;
}

.social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 139px;
}

.social__item {
	margin-right: 9px;
}

.social__item:last-child {
	margin-right: 0;
}

.social__link {
	width: 81px;
	height: 81px;
	background-color: var(--gray-icon);
	border-radius: 50%;
	display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social__link:hover {
	background-color: var(--basic-pink-hover);
}

.social__link:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__link:active .social__svg {
	opacity: 0.3;
}

/*------------CATALOG---------------*/

.page-catalog {
	display: flex;
	flex-wrap: wrap;
}

.page-catalog__wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 1160px;
	padding: 0 20px; 
	margin: 0 auto;
}

/*-----------RANGE_FILTERS-----------*/

.range {
	border: 0;
	margin: 0 0 57px 0;
	padding: 0;
	width: 260px;
}

.range__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
	margin-bottom: 48px;
}

.range__content {
	height: 80px;
	background-color: var(--basic-gray);
	border-radius: 3px;
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	padding-left: 33px;
	padding-right: 22px;
	position: relative;
}

.range__scale {
	width: 205px;
	height: 2px;
	background: var(--gray-scale);
}

.range__bar {
	width: 70%;
  height: 2px;
  background: var(--range-bar);
}

.range__button {
	padding: 0;
	cursor: pointer;
	width: 4px;
  height: 4px;
  border-radius: 50%;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-button);
  box-sizing: content-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
}

.range__button_left {
	left: 18px;
}

.range__button_right {
	right: 80px;
}

.range__price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.range__label {
 	line-height: 22px;
	text-transform: uppercase;
	margin-right: 7px;
}

.range__input {
	width: 80px;
	box-sizing: border-box;
	border: none;
	text-align: center;
	border-radius: 3px;
	padding: 8px;
	background-color: var(--basic-gray);
	cursor: pointer;
}

/*----------FILTERS GRID-FEATURES------*/

.filters {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 260px;
	margin-right: 140px;
}

.filters__grid {
	border: 0;
	margin: 0 0 35px 0;
	padding: 0;
}

.filters__features {
	border: 0;
	margin: 0 0 50px 0;
	padding: 0;
}

.filters__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
	margin-bottom: 12px;
}

.filters__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters__item {
	margin-bottom: 9px;
}

.filters__list_checkbox .filters__item {
	margin-bottom: 17px;
}

.filters__item:last-child {
	margin: 0;
}

.filters__label {
	line-height: 19px;
	font-family: inherit;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.filters__radio + .filters__label:before {
	content: "";
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 4px solid var(--gray-filter-normal);
	flex-shrink: 0;
	box-sizing: border-box;
	margin-right: 11px;
}

.filters__radio + .filters__label:after {
	content: "";
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: var(--gray-filter-normal);
	flex-shrink: 0;
	position: absolute;
	left: 8px;
	display: none;
}

.filters__radio + .filters__label:hover:before {
	border-color: var(--gray-filter);
}

.filters__radio + .filters__label:hover:after {
	background-color: var(--gray-filter);
}

.filters__radio:checked + .filters__label:after {
	display: inline-flex;
}

.filters__radio:disabled + .filters__label {
	color: var(--gray-filter-disabled);
}

.filters__radio:disabled + .filters__label:after {
	background-color: var(--gray-sort-normal);
}

.filters__radio:disabled + .filters__label:before {
	border-color: var(--gray-sort-normal);
}

.filters__checkbox + .filters__label {
	padding-left: 36px;
}

.filters__checkbox + .filters__label:before { 
	content: "";
	width: 23px;
	height: 23px;
	border: 2px solid var(--gray-filter-normal);
	border-radius: 15%;
	flex-shrink: 0;
	box-sizing: border-box;
	position: absolute;
	left: 1px;
}

.filters__checkbox:checked + .filters__label:before {
	display: none;
}

.filters__checkbox + .filters__label:after { 
	content: "";
	width: 25px;
	height: 23px;
	flex-shrink: 0;
	background-image: url("../img/svg/checkbox-on.svg");
	position: absolute;
	left: 1px;
	display: none;
	opacity: 0.4;
}

.filters__checkbox + .filters__label:hover:before {
	border-color: var(--gray-filter);
}

.filters__checkbox + .filters__label:hover:after {
	opacity: 1;
}

.filters__checkbox:checked + .filters__label:after {
	display: inline-flex;
}

.filters__checkbox:disabled + .filters__label {
	color: var(--gray-filter-disabled);
}

.filters__checkbox:disabled + .filters__label:after {
	opacity: 0.1;
}

.filters__checkbox:disabled + .filters__label:before {
	border-color: var(--gray-sort-normal);
}

.filters-button {
	font-family: inherit;
	width: 260px;
	border-radius: 3px;
	background-color: var(--basic-gray); 
	border: 0;
	padding: 16px 0;
	cursor: pointer;
}

.filters-button:hover {
	background-color: var(--gray-page-hover);
}

.filters-button:active {
	background-color: var(--gray-page-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filters-button span {
	font-weight: 500;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filters-button:active span {
	opacity: 0.3;
}


/*-------------PAGE CONTENT----------*/

.page-content {
	width: 760px;
}


/*------------------SORT--------------*/

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
}

.sort__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	margin: 0;
}

.sort__list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0; 
}

.sort__item {
	margin-right: 29px;
}

.sort__item:last-child {
	margin-right: 0;
}

.sort__button {
	line-height: 18px;
	font-size: 14px;
	color: var(--basic-black);
	border: 0;
	padding: 0;
	opacity: 0.3;
	font-family: inherit;
	text-transform: uppercase;
	cursor: pointer;
}

.sort__button.m-current {
	opacity: 1;
}

.sort__button:hover {
	opacity: 0.6;
}

.sort__button:active {
	opacity: 1;
}

.sort__down,
.sort__up {
	border: 0;
	padding: 0;
	line-height: 0;
 	background-color: transparent;
 	cursor: pointer;
}

.sort__svg path {
	fill: var(--gray-sort-normal);
}

.sort__down:hover .sort__svg path, 
.sort__up:hover .sort__svg path {
	fill: var(--gray-sort);
}

.sort__down:active .sort__svg path,
.sort__up:active .sort__svg path {
	fill: var(--gray-sort-active);
}

.sort__down.m-current .sort__svg path,
.sort__up.m-current .sort__svg path { 
	fill: var(--gray-sort-active);
}


/*-------------CATALOG CARDS-----------*/

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 22px;
}

.catalog__item {
	width: 360px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
	line-height: 0;
}

.catalog__decor {
	width: 360px;
	display: flex;
	align-items: center;
	padding: 13px 16px;
	border-radius: 4px 4px 0 0;
	box-sizing: border-box;
	background-color: var(--gray-filter);
	opacity: 0.12;
}

.catalog__decor span {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin-right: 9px;
	background-color: var(--basic-white);
}

.catalog__decor.m-current {
	background-color: var(--gray-filter);
	opacity: 1;
}

.catalog__info {
	display: none;
	background-color: var(--basic-gray);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 26px 50px 44px;
	position: absolute;
	bottom: 0;
}

.catalog__info.m-current {
	display: flex;
} 

.catalog__title {
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
}

.catalog__title a {
	list-style: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.catalog__title a:hover {
	color: var(--basic-pink);
}

.catalog__title a:active {
	opacity: 0.3;
}


.catalog__text {
	line-height: 18px;
	color: var(--gray-catalog);
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 33px;
}

.catalog__button {
	font-family: inherit;
	border-radius: 3px;
	width: 200px;
	padding: 16px 0;
	background-color: var(--basic-pink);
	border: 0;
	color: var(--basic-white);
	cursor: pointer;
}

.catalog__button:hover {
	background-color: var(--basic-pink-hover);
}

.catalog__button:active {
	background-color: var(--basic-pink-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog__button span {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.catalog__item:hover .catalog__info {
	display: flex;
}

.catalog__item:hover {
	box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog__item:hover .catalog__decor {
	background-color: var(--gray-filter);
	opacity: 1;
}

/*-------------PAGINATION---------------*/

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-bottom: 60px;
}

.pagination__item {
	margin-right: 11px;
}

.pagination__item:last-child {
	margin-right: 0;
}

.pagination__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--basic-gray);
	border-radius: 3px;
}

.pagination__next {
	width: 260px;
}

.pagination__link:hover {
	background-color: var(--gray-page-hover);
}

.pagination__link:active {
	background-color: var(--gray-page-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination__active {
	background-color: var(--basic-white);
	border: 3px solid var(--gray-page);
	box-sizing: border-box;
}

.pagination__link span {
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.pagination__link:active span {
	opacity: 0.3;
}
















 































